<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>



<body>

	<div class="row">
		<div class="alert alert-warning alert-dismissible boxalert">
			<span class="close" data-dismiss="alert">&times;</span> <strong
				th:text="${msg}"></strong>
		</div>
	</div>



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm box">
				<h2>Smart Bank Welcomes You</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm box">
			<div class="form-group ">
				<form th:action="@{/accNoDtls}">
					ACCOUNT NO :<input type="text" class="form-control text-center"
						name="accNo" />

					<div class="form-group ">
						<label for="sel1">Please Select One:</label> <select
							class="form-control" id="sel1" name="accType">
							<option th:value="savings">savings</option>
							<option th:value="primary">primary</option>
						</select>
					</div>

					<div class="col-sm box2">
						<button type="submit" class="btn btn-primary">SEARCH</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>