<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm divaccdtl">
				<h2>ACCOUNT DETAILS</h2>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm box5">
			<table id="user">
				<thead>
					<tr>
						<td>NAME</td>
						<td>ACCOUNT NO</td>
						<td>BALANCE</td>
						<td>ACCOUNT TYPE</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account : ${account}">
						<td th:text="${name}"></td>
						<td th:text="${account.accountNumber}"></td>
						<td th:text="${account.accountBalance}"></td>
						<td th:text="${accType}"></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<br />
	<div class="row">
		<div class="col-sm box6 btn-xl">
			<a th:href="@{${url}}" class="btn btn-primary">Search Again</a>
		</div>

		<div class="col-sm divtranx">
			<h2>DO TRANSACTION</h2>
		</div>
	</div>
	<br>
	<div class="row">

		<div class="col-sm box7">

			<form th:action="@{/txByBank}" method="POST" th:object="${baseAcc}">

				<div class="form-group ">
					<div class="col-xs-12">
						<label for="name">ACCOUNT NO</label> <input type="text"
							class="form-control" name="accNo" th:value="*{accNo}"
							th:readonly="true"/>
					</div>

				</div>
				<div class="form-group ">
					<div class="col-xs-12">
						<label for="name">ENTER AMOUNT</label> 
						<input type="text"
							class="form-control" name="balance" th:value="*{balance}"/>
					</div>
				</div>

				
				<div class="header1">
					<h4>Select Operation</h4>
					<input th:type="radio" th:name="operation" th:value="deposite" />DEPOSITE
					<input th:type="radio" th:name="operation" th:value="withdraw" />WITHDRAW
					<div>
					<input th:type="submit" class="btn btn-primary" value="SUBMIT">
				</div>
				</div>
			</form>
		</div>
	</div>




</body>
</html>